<div class="container">
  <div class=" navNumber">
    <form class="example-form" [formGroup]="datos" novalidate>
      <mat-form-field class="animated bounceInDown campo">
        <input matInput type="number" placeholder=" " formControlName="num1" value="" required maxlength="1" minlength="1" min="0" max="9">
      </mat-form-field>
      <mat-form-field class="animated bounceInDown campo">
        <input matInput type="number" placeholder=" " formControlName="num2" value="" required maxlength="1" minlength="1"  min="0" max="9">
      </mat-form-field>
      <mat-form-field class="animated bounceInDown campo">
        <input matInput type="number" placeholder=" " formControlName="num3" value="" required maxlength="1" minlength="1"  min="0" max="9">
      </mat-form-field>
      <mat-form-field class="animated bounceInDown campo">
        <input matInput type="number" placeholder=" " formControlName="num4" value="" required maxlength="1" minlength="1"  min="0" max="9">
      </mat-form-field>
    </form>
  </div>
  <div>
    <div class="boton">
      <button id="enviar" class=" botn btn btn-dark rounded-pill animated zoomIn" (click)="sen()"> Ingresar Numero </button>
    </div>
  </div>
  <div class="animated zoomIn fast tabla">
    <table class="table table-striped container">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">numeros</th>
          <th scope="col">picas</th>
          <th scope="col">fijas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of json">
          <td>{{item.iteracion}}</td>
          <td>{{item.numero}}</td>
          <td>{{item.pica}}</td>
          <td>{{item.fija}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center py-5">
    <div>
      <a routerLink='/inicio'>
        <i class="animated bounceInLeft iconl fas fa-sign-out-alt"></i>
      </a>
    </div>
    <div>
      <a href="javascript:location.reload()">
        <i class="animated bounceInRight icon fas fa-sync-alt"></i>
      </a>
    </div>
  </div>
</div>
<div class="foo">
  <footer>
    2020 Derechos Reservados <sup>&copy;</sup> |
    <a class="contac" href="mailto:santiago.agdor@gmail.com?Subject=Hola%20Contacto%20picasYfijas">contacto</a>
  </footer>
</div>